In [305]:
library("dplyr")

In [306]:
my_db <- src_sqlite(path = "database.sqlite", create = FALSE)

Let's get all the tables present in the database and print it out

In [307]:
my_db

src:  sqlite 3.11.1 [database.sqlite]
tbls: Country, League, Match, Player, Player_Attributes, sqlite_sequence, Team,
  Team_Attributes

In [308]:
player_table <- tbl(my_db, "Player")

In [309]:
player_table

Source:   query [?? x 7]
Database: sqlite 3.11.1 [database.sqlite]

      id player_api_id        player_name player_fifa_api_id
   <int>         <int>              <chr>              <int>
1      1        505942 Aaron Appindangoye             218353
2      2        155782    Aaron Cresswell             189615
3      3        162549        Aaron Doran             186170
4      4         30572      Aaron Galindo             140161
5      5         23780       Aaron Hughes              17725
6      6         27316         Aaron Hunt             158138
7      7        564793         Aaron Kuhl             221280
8      8         30895       Aaron Lennon             152747
9      9        528212       Aaron Lennox             206592
10    10        101042      Aaron Meijers             188621
# ... with more rows, and 3 more variables: birthday <chr>, height <dbl>,
#   weight <int>

 Contents of Player Table : id, player_api_id, player_name, player_fifa_api_id, birthday, height, weight

In [310]:
playerAttributes_table <- tbl(my_db, "Player_Attributes")

In [311]:
playerAttributes_table

Source:   query [?? x 42]
Database: sqlite 3.11.1 [database.sqlite]

      id player_fifa_api_id player_api_id                date overall_rating
   <int>              <int>         <int>               <chr>          <int>
1      1             218353        505942 2016-02-18 00:00:00             67
2      2             218353        505942 2015-11-19 00:00:00             67
3      3             218353        505942 2015-09-21 00:00:00             62
4      4             218353        505942 2015-03-20 00:00:00             61
5      5             218353        505942 2007-02-22 00:00:00             61
6      6             189615        155782 2016-04-21 00:00:00             74
7      7             189615        155782 2016-04-07 00:00:00             74
8      8             189615        155782 2016-01-07 00:00:00             73
9      9             189615        155782 2015-12-24 00:00:00             73
10    10             189615        155782 2015-12-17 00:00:00             73
# ... with more rows, and 37 more variables: potential <int>,
#   preferred_foot <chr>, attacking_work_rate <chr>, defensive_work_rate <chr>,
#   crossing <int>, finishing <int>, heading_accuracy <int>,
#   short_passing <int>, volleys <int>, dribbling <int>, curve <int>,
#   free_kick_accuracy <int>, long_passing <int>, ball_control <int>,
#   acceleration <int>, sprint_speed <int>, agility <int>, reactions <int>,
#   balance <int>, shot_power <int>, jumping <int>, stamina <int>,
#   strength <int>, long_shots <int>, aggression <int>, interceptions <int>,
#   positioning <int>, vision <int>, penalties <int>, marking <int>,
#   standing_tackle <int>, sliding_tackle <int>, gk_diving <int>,
#   gk_handling <int>, gk_kicking <int>, gk_positioning <int>,
#   gk_reflexes <int>

Contents in  Player_Attributes table :id, player_fifa_api_id, player_api_id, date overall_rating, 37 other variables

In [312]:
team_table <- tbl(my_db, "Team")

In [313]:
team_table

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

      id team_api_id team_fifa_api_id    team_long_name team_short_name
   <int>       <int>            <int>             <chr>           <chr>
1      1        9987              673          KRC Genk             GEN
2      2        9993              675      Beerschot AC             BAC
3      3       10000            15005  SV Zulte-Waregem             ZUL
4      4        9994             2007  Sporting Lokeren             LOK
5      5        9984             1750 KSV Cercle Brugge             CEB
6      6        8635              229    RSC Anderlecht             AND
7      7        9991              674          KAA Gent             GEN
8      8        9998             1747         RAEC Mons             MON
9      9        7947               NA     FCV Dender EH             DEN
10    10        9985              232 Standard de Li√®ge             STL
# ... with more rows

Contents in Team table :   id, team_api_id, team_fifa_api_id, team_long_name, team_short_name

In [314]:
teamAttributes_table <- tbl(my_db, "Team_Attributes")

In [315]:
teamAttributes_table

Source:   query [?? x 25]
Database: sqlite 3.11.1 [database.sqlite]

      id team_fifa_api_id team_api_id                date buildUpPlaySpeed
   <int>            <int>       <int>               <chr>            <int>
1      1              434        9930 2010-02-22 00:00:00               60
2      2              434        9930 2014-09-19 00:00:00               52
3      3              434        9930 2015-09-10 00:00:00               47
4      4               77        8485 2010-02-22 00:00:00               70
5      5               77        8485 2011-02-22 00:00:00               47
6      6               77        8485 2012-02-22 00:00:00               58
7      7               77        8485 2013-09-20 00:00:00               62
8      8               77        8485 2014-09-19 00:00:00               58
9      9               77        8485 2015-09-10 00:00:00               59
10    10              614        8576 2010-02-22 00:00:00               60
# ... with more rows, and 20 more variables: buildUpPlaySpeedClass <chr>,
#   buildUpPlayDribbling <int>, buildUpPlayDribblingClass <chr>,
#   buildUpPlayPassing <int>, buildUpPlayPassingClass <chr>,
#   buildUpPlayPositioningClass <chr>, chanceCreationPassing <int>,
#   chanceCreationPassingClass <chr>, chanceCreationCrossing <int>,
#   chanceCreationCrossingClass <chr>, chanceCreationShooting <int>,
#   chanceCreationShootingClass <chr>, chanceCreationPositioningClass <chr>,
#   defencePressure <int>, defencePressureClass <chr>, defenceAggression <int>,
#   defenceAggressionClass <chr>, defenceTeamWidth <int>,
#   defenceTeamWidthClass <chr>, defenceDefenderLineClass <chr>

Contents in Team_Attributes table :  id, team_fifa_api_id, team_api_id, date, buildUpPlaySpeed

In [316]:
country_table <- tbl(my_db, "Country")

In [317]:
country_table

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

      id        name
   <int>       <chr>
1      1     Belgium
2   1729     England
3   4769      France
4   7809     Germany
5  10257       Italy
6  13274 Netherlands
7  15722      Poland
8  17642    Portugal
9  19694    Scotland
10 21518       Spain
# ... with more rows

Contents of Country table :  id, name

In [318]:
league_table <- tbl(my_db, "League")

In [319]:
league_table

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id                     name
   <int>      <int>                    <chr>
1      1          1   Belgium Jupiler League
2   1729       1729   England Premier League
3   4769       4769           France Ligue 1
4   7809       7809    Germany 1. Bundesliga
5  10257      10257            Italy Serie A
6  13274      13274   Netherlands Eredivisie
7  15722      15722       Poland Ekstraklasa
8  17642      17642 Portugal Liga ZON Sagres
9  19694      19694  Scotland Premier League
10 21518      21518          Spain LIGA BBVA
# ... with more rows

Contents of League table : id, country_id, name

In [320]:
match_table <- tbl(my_db, "Match")

In [321]:
match_table

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id league_id    season stage                date match_api_id
   <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1      1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2      2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3      3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4      4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5      5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6      6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
7      7          1         1 2008/2009     1 2008-08-16 00:00:00       492479
8      8          1         1 2008/2009     1 2008-08-16 00:00:00       492480
9      9          1         1 2008/2009     1 2008-08-16 00:00:00       492481
10    10          1         1 2008/2009    10 2008-11-01 00:00:00       492564
# ... with more rows, and 108 more variables: home_team_api_id <int>,
#   away_team_api_id <int>, home_team_goal <int>, away_team_goal <int>,
#   home_player_X1 <int>, home_player_X2 <int>, home_player_X3 <int>,
#   home_player_X4 <int>, home_player_X5 <int>, home_player_X6 <int>,
#   home_player_X7 <int>, home_player_X8 <int>, home_player_X9 <int>,
#   home_player_X10 <int>, home_player_X11 <int>, away_player_X1 <int>,
#   away_player_X2 <int>, away_player_X3 <int>, away_player_X4 <int>,
#   away_player_X5 <int>, away_player_X6 <int>, away_player_X7 <int>,
#   away_player_X8 <int>, away_player_X9 <int>, away_player_X10 <int>,
#   away_player_X11 <int>, home_player_Y1 <int>, home_player_Y2 <int>,
#   home_player_Y3 <int>, home_player_Y4 <int>, home_player_Y5 <int>,
#   home_player_Y6 <int>, home_player_Y7 <int>, home_player_Y8 <int>,
#   home_player_Y9 <int>, home_player_Y10 <int>, home_player_Y11 <int>,
#   away_player_Y1 <int>, away_player_Y2 <int>, away_player_Y3 <int>,
#   away_player_Y4 <int>, away_player_Y5 <int>, away_player_Y6 <int>,
#   away_player_Y7 <int>, away_player_Y8 <int>, away_player_Y9 <int>,
#   away_player_Y10 <int>, away_player_Y11 <int>, home_player_1 <int>,
#   home_player_2 <int>, home_player_3 <int>, home_player_4 <int>,
#   home_player_5 <int>, home_player_6 <int>, home_player_7 <int>,
#   home_player_8 <int>, home_player_9 <int>, home_player_10 <int>,
#   home_player_11 <int>, away_player_1 <int>, away_player_2 <int>,
#   away_player_3 <int>, away_player_4 <int>, away_player_5 <int>,
#   away_player_6 <int>, away_player_7 <int>, away_player_8 <int>,
#   away_player_9 <int>, away_player_10 <int>, away_player_11 <int>,
#   goal <chr>, shoton <chr>, shotoff <chr>, foulcommit <chr>, card <chr>,
#   cross <chr>, corner <chr>, possession <chr>, B365H <dbl>, B365D <dbl>,
#   B365A <int>, BWH <dbl>, BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>,
#   IWA <dbl>, LBH <dbl>, LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>,
#   PSA <dbl>, WHH <dbl>, WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>,
#   SJA <int>, VCH <dbl>, ...

In [322]:
goal <- select(match_table, home_team_goal, away_team_goal)
collect(goal)

      home_team_goal away_team_goal
1     1              1
2     0              0
3     0              3
4     5              0
5     1              3
6     1              1
7     2              2
8     1              2
9     1              0
10    4              1
11    1              2
12    0              2
13    0              0
14    2              2
15    1              2
16    0              1
17    1              3
18    1              3
19    2              3
20    0              0
21    2              2
22    2              0
23    1              1
24    1              2
25    0              0
26    1              0
27    1              3
28    1              1
29    1              1
30    2              2
...   ...            ...
25950 6              1
25951 1              3
25952 0              2
25953 1              1
25954 3              1
25955 3              1
25956 0              1
25957 0              1
25958 3              1
25959 3              3
25960 1              3
25961 1              3
25962 0              2
25963 1              0
25964 2              5
25965 0              1
25966 1              0
25967 0              2
25968 3              1
25969 3              2
25970 2              1
25971 4              0
25972 3              3
25973 3              3
25974 3              0
25975 1              0
25976 1              2
25977 2              0
25978 0              0
25979 4              3

Contents of Match table : 
      id, country_id, league_id, season stage, date, match_api_id and 108 more variables

In [323]:
player_table2 <- select(player_table, player_api_id, player_name)

playerAttributes_table2 <- select(playerAttributes_table, player_api_id, overall_rating, starts_with("gk_"))

groupByTest <- group_by(playerAttributes_table, player_api_id)

groupByTest2 <- summarise(groupByTest,  overall_rating = max(overall_rating), max_gk_rating = max(gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes))

nrow(collect(groupByTest2))

innerJoin <- inner_join(groupByTest2, player_table)

[1] 11060

Joining, by = "player_api_id"

In [324]:
innerJoin

Source:   query [?? x 9]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id overall_rating max_gk_rating    id       player_name
           <int>          <int>         <int> <int>             <chr>
1           2625             63           153  8372 Patryk Rachwal,18
2           2752             72            53  2639       Diego Mainz
3           2768             75           128  5319       Jose Dorado
4           2770             74           148  4339  Ignacio Gonzalez
5           2790             73           144   306       Alberto Rey
6           2796             69           340  4734    Javier Jimenez
7           2802             82           146  8249   Pablo Hernandez
8           2805             76           141  9282       Ruben Perez
9           2857             72           143  4467        Ivan Perez
10          2862             76           146 10600   Vicente Sanchez
# ... with more rows, and 4 more variables: player_fifa_api_id <int>,
#   birthday <chr>, height <dbl>, weight <int>

Now, we have got information required for questions on overall_rating and gk_rating. We require stats from match_table relating to a player on the number of matches played and leagues played.

The above table and the match_table needs to be maniplated properly to get the required data relating to a particular player. Researched on what can be done. One approach is to count the appearance of player_id from the above table in the home_player_1:11 and away_player_1:10 columns of the match_table. Other easy approach can be to do union of the above table and the match table.

So, inorder to do union, we need a new customized table out of match_table. First we just need the player_id and a new variable which tells you the number of appearances based on the home_player_1:11 and away_player_1:10. Let's first do that.

In [325]:
match_table2 <- select(match_table, dummy = home_player_1)

nrow(collect(match_table2))

[1] 25979

In [326]:
match_table2 <- union_all(match_table2, select(match_table, dummy = home_player_2))

nrow(collect(match_table2))

[1] 51958

In [327]:
match_table3 <- select(match_table, home_player_1:home_player_11, league_id)
nrow(collect(match_table3))

[1] 25979

In [328]:
match_table4 <- select(match_table, home_player_1 = away_player_1, home_player_2 = away_player_2, home_player_3 = away_player_3
                      ,home_player_4 = away_player_4, home_player_5 = away_player_5, home_player_6 = away_player_6, home_player_7 = away_player_7,
                      home_player_8 = away_player_8,
                      home_player_9 = away_player_9,
                      home_player_10 = away_player_10,
                      home_player_11 = away_player_11, league_id)
nrow(collect(match_table4))

[1] 25979

In [329]:
unionAll <- union_all(match_table3, match_table4)

nrow(collect(unionAll))

[1] 51958

In [330]:
match_table3 <- select(unionAll, home_player_1:home_player_5, league_id)
nrow(collect(match_table3))

match_table4 <- select(unionAll, home_player_6:home_player_10, league_id)
nrow(collect(match_table4))

[1] 51958

[1] 51958

unionAll home_player_11 has to be unioned finally

In [331]:
unionAll2 <- union_all(match_table3, match_table4)
nrow(collect(unionAll2, n = Inf))

[1] 103916

In [332]:
match_table3 <- select(unionAll2, home_player_1:home_player_2, league_id)
match_table4 <- select(unionAll2, home_player_3:home_player_4, league_id)
unionAll3 <- union_all(match_table3, match_table4)
nrow(collect(unionAll3, n = Inf))

[1] 207832

unionAll2 home_player_5 has to be unioned finally

In [333]:
union_final <- union_all(select(unionAll3, home_player_1, league_id), select(unionAll3, home_player_2, league_id))
nrow(collect(union_final, n = Inf))
union_final <- union_all(select(union_final, home_player_1, league_id), select(unionAll2, home_player_5, league_id))
union_final <- union_all(select(union_final, home_player_1, league_id), select(unionAll, home_player_11, league_id))
nrow(collect(union_final, n = Inf))

[1] 415664

[1] 571538

In [334]:
groupByFinal <- group_by(union_final, home_player_1)
nrow(collect(groupByFinal, n = Inf))
summariseFinal <- summarize(groupByFinal, player_api_id = home_player_1, totalNumOfMatches = n(home_player_1), 
                            totalNumOfLeagues = n_distinct(league_id))
nrow(collect(summariseFinal))

[1] 571538

[1] 11061

In [335]:
innerJoin2 <- inner_join(innerJoin,summariseFinal)
nrow(collect(innerJoin2))

Joining, by = "player_api_id"

[1] 11060

In [336]:
nrow(collect(innerJoin2, n = Inf))

[1] 11060

In [337]:
write.csv(data.frame(innerJoin2), "player.csv")

Finally, we are done with player.csv. Lets move on to team.csv

In [338]:
groupByTeam <- group_by(teamAttributes_table, team_api_id)

groupByTeam2 <- summarise(groupByTeam,  maxBuildUpPlay = max(buildUpPlaySpeed+ buildUpPlaySpeedClass+ buildUpPlayDribbling+ buildUpPlayDribblingClass+ buildUpPlayPassing+ buildUpPlayPassingClass+buildUpPlayPositioningClass),
                         maxChanceCreation = max(chanceCreationPassing+ chanceCreationPassingClass+chanceCreationCrossing+ chanceCreationCrossingClass+ chanceCreationShooting+ chanceCreationShootingClass+ chanceCreationPositioningClass),
                         maxDefense = max(defencePressure+ defencePressureClass+ defenceAggression+ defenceAggressionClass+ defenceTeamWidth+ defenceTeamWidthClass+ defenceDefenderLineClass)
                         )

nrow(collect(groupByTeam2))

innerJoinTeam <- inner_join(groupByTeam2, team_table)
innerJoinTeam

[1] 288

Joining, by = "team_api_id"

Source:   query [?? x 8]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id maxBuildUpPlay maxChanceCreation maxDefense    id
         <int>          <int>             <int>      <int> <int>
1         1601            139               186        175 31446
2         1773            153               157        137  1513
3         1957            158               163        210 31456
4         2033            147               165        155 35774
5         2182            176               196        160 31453
6         2183             NA               180        175 31448
7         2186            125               168        205 31458
8         4087            156               180        165 11822
9         4170             NA               165        200 10312
10        6269            179               172        151 22805
# ... with more rows, and 3 more variables: team_fifa_api_id <int>,
#   team_long_name <chr>, team_short_name <chr>

In [339]:
homeTeamGoalTable <- select(match_table, home_team_api_id, home_team_goal)
awayTeamGoalTable <- select(match_table, away_team_api_id, away_team_goal)
goalTable <- union_all(homeTeamGoalTable, awayTeamGoalTable)
goalTable <- group_by(goalTable, home_team_api_id)
goalTable <- summarize(goalTable, maxNumOfGoals = sum(home_team_goal))
goalTable <- select(goalTable, team_api_id = home_team_api_id, maxNumOfGoals)
collect(goalTable)

    team_api_id maxNumOfGoals
1   1601        280
2   1773        126
3   1957        287
4   2033        138
5   2182        372
6   2183        184
7   2186        235
8   4049         35
9   4064         27
10  4087        180
11  4170         31
12  6269         34
13  6351         28
14  6367         27
15  6391         37
16  6403        292
17  6413        204
18  6421         55
19  6433         74
20  6493        128
21  6547         29
22  6601         38
23  6631         24
24  7730         99
25  7788        119
26  7794        165
27  7819        220
28  7841        248
29  7842        167
30  7844        300
... ...         ...
270  10214      332
271  10215      240
272  10217      366
273  10218      154
274  10219      153
275  10228      470
276  10229      492
277  10233      392
278  10235      489
279  10238      238
280  10242       71
281  10243      468
282  10249      344
283  10251      259
284  10252      335
285  10260      582
286  10261      324
287  10264      398
288  10265      332
289  10267      484
290  10268       65
291  10269      415
292  10278       36
293  10281      170
294 108893       21
295 158085      101
296 177361       33
297 188163       34
298 208931       37
299 274581       71

In [340]:
finalTeamTable <- inner_join(innerJoinTeam, goalTable)
collect(finalTeamTable)

Joining, by = "team_api_id"

    team_api_id maxBuildUpPlay maxChanceCreation maxDefense id
1   1601        139            186               175        31446
2   1773        153            157               137         1513
3   1957        158            163               210        31456
4   2033        147            165               155        35774
5   2182        176            196               160        31453
6   2183         NA            180               175        31448
7   2186        125            168               205        31458
8   4087        156            180               165        11822
9   4170         NA            165               200        10312
10  6269        179            172               151        22805
11  6351         NA            160               155         1042
12  6391        153            179               146        14876
13  6403        142            170               150        35289
14  6413        137            165               181        29000
15  6421         NA            165                90        35295
16  6433        160            132               141        29624
17  6493         NA            175               150        49116
18  6547        147            146               121        38173
19  6631        134            176               164        30222
20  7730        141            164               165        50204
21  7788        136            159               138        29617
22  7794        174            156               210        12594
23  7819        157            165               205         9540
24  7841        157            180               153        35293
25  7842        174            139               150        37214
26  7844        131            179               177        35287
27  7869        146            171               129        47612
28  7878        166            200               170        45330
29  7943        188            186               138        24288
30  7955         NA            190               150        49123
... ...         ...            ...               ...        ...
259  10211       NA            165               155        36253
260  10212      182            186               144        35298
261  10214      167            165               156        35296
262  10215      150            172               151        35292
263  10217      162            181               173        26560
264  10218      163            162               106        27780
265  10219      142            159               150        27161
266  10228      150            171               183        26562
267  10229      154            185               184        26563
268  10233      184            182               154        20518
269  10235      154            165               160        26558
270  10238      149            165               140        35288
271  10242      148            150               140        12595
272  10243      157            165               163        49124
273  10249      162            160               210        10309
274  10251      148            200               200        39392
275  10252      170            185               145         3465
276  10260      134            200               163         3457
277  10261      152            195               161         3458
278  10264      145            166               150        35290
279  10265      135            183               205        31443
280  10267      116            185               175        43035
281  10268      171            165               158        46848
282  10269      168            200               175        15632
283  10278      154            178               160        44557
284  10281      153            172               161        43050
285 108893      156            141               158        11074
286 158085      174            160               113        37696
287 208931      190            160               141        25804
288 274581      150            150               140         2510
    team_fifa_api_id team_long_name           team_short_name maxNumOfGoals
1      874           Ruch Chorz√≥w             CHO             280
2   100087           Oud-Heverlee Leuven      O-H             126
3   110745           Jagiellonia Bialystok    BIA             287
4   111540           S.C. Olhanense           OLH             138
5      873           Lech Poznan              POZ             372
6     1570           P. Warszawa              PWA             184
7   110747           Cracovia                 CKR             235
8   111271           √âvian Thonon Gaillard FC ETG             180
9   111376           US Boulogne Cote D'Opale BOU              31
10  112225           Novara                   NOV              34
11    2013           KAS Eupen                EUP              28
12  110316           GFC Ajaccio              GAJ              37
13    1892           FC Pa√ßos de Ferreira     FER             292
14    1914           PEC Zwolle               ZWO             204
15   10018           Leix√µes SC               LEI              55
16  100632           Go Ahead Eagles          GAE              74
17    1714           AC Bellinzona            BEL             128
18  100741           FC Penafiel              PEN              29
19  100626           FC Dordrecht             DOR              24
20    1862           FC Lausanne-Sports       LAU              99
21     647           SC Cambuur               CAM             119
22      58           SC Bastia                BAS             165
23     210           SM Caen                  CAE             220
24     744           Rio Ave FC               RA              248
25   10020           Estoril Praia            EST             167
26    1887           Vit√≥ria Guimar√£es        GUI             300
27    1867           C√≥rdoba CF               COR              22
28  110832           Granada CF               GRA             179
29  111974           Sassuolo                 SAS             141
30     435           Neuch√¢tel Xamax          XAM             171
... ...              ...                      ...             ...
259   1897           SC Beira Mar             B-M              93
260   1893           CS Mar√≠timo              MAR             316
261   1891           CD Nacional              NAC             332
262   1901           Acad√©mica de Coimbra     ACA             240
263    650           ADO Den Haag             HAA             366
264   1971           Excelsior                EXC             154
265   1905           RKC Waalwijk             RKC             153
266   1913           SC Heerenveen            HEE             470
267   1906           AZ                       ALK             492
268 110556           Genoa                    GEN             392
269    246           Feyenoord                FEY             489
270    665           Vit√≥ria Set√∫bal          SET             238
271    294           ES Troyes AC             TRO              71
272    894           FC Z√ºrich                ZUR             468
273     70           Montpellier H√©rault SC   MON             344
274     81           Hibernian                HIB             259
275      2           Aston Villa              AVL             335
276     11           Manchester United        MUN             582
277     13           Newcastle United         NEW             324
278   1896           SC Braga                 BRA             398
279   1873           Wisla Krak√≥w             WIS             332
280    461           Valencia CF              VAL             484
281    468           Elche CF                 ELC              65
282     36           VfB Stuttgart            STU             415
283 100879           H√©rcules Club de F√∫tbol  HER              36
284    462           Real Valladolid          VAL             170
285 111989           AC Arles-Avignon         ARL              21
286 112513           FC Arouca                ARO             101
287 112409           Carpi                    CAP              37
288 111560           Royal Excel Mouscron     MOP              71

In [341]:
write.csv(data.frame(finalTeamTable), "team.csv")