Notebook to execute the queries

In [7]:
library(dplyr)

In [8]:
playerTable <- read.csv("player.csv")

The top_n has been found from dplyr official doc. It returns n rows from a particular table based on the variable mentioned. But as we need exact 10 rows and that too in descending order, I used arrange function and data frame logic 1:10.

In [21]:
queOne <- top_n(playerTable, 10, overall_rating)
queOne <- arrange(queOne, desc(overall_rating))
queOne <- queOne[1:10,c("player_name","overall_rating")]
queOne

   player_name       overall_rating
1  Lionel Messi      94
2  Gianluigi Buffon  93
3  Wayne Rooney      93
4  Cristiano Ronaldo 93
5  Xavi Hernandez    92
6  Gregory Coupet    92
7  Thierry Henry     91
8  John Terry        91
9  Iker Casillas     91
10 Alessandro Nesta  91

In [23]:
queTwo <- top_n(playerTable, 10, max_gk_rating)
queTwo <- arrange(queTwo, desc(max_gk_rating))
queTwo <- queTwo[1:10,c("player_name","max_gk_rating")]
queTwo

   player_name       max_gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

In [24]:
queThree <- top_n(playerTable, 10, totalNumOfMatches)
queThree <- arrange(queThree, desc(totalNumOfMatches))
queThree <- queThree[1:10,c("player_name","totalNumOfMatches")]
queThree

   player_name          totalNumOfMatches
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

In [25]:
queFour <- top_n(playerTable, 10, totalNumOfLeagues)
queFour <- arrange(queFour, desc(totalNumOfLeagues))
queFour <- queFour[1:10,c("player_name","totalNumOfLeagues")]
queFour

   player_name           totalNumOfLeagues
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

In [26]:
teamTable <- read.csv("team.csv")

In [27]:
queFive <- top_n(teamTable, 10, maxBuildUpPlay)
queFive <- arrange(queFive, desc(maxBuildUpPlay))
queFive <- queFive[1:10,c("team_long_name","team_short_name","maxBuildUpPlay")]
queFive

   team_long_name             team_short_name maxBuildUpPlay
1  Torino                     TOR             209
2  Udinese                    UDI             205
3  Fortuna Düsseldorf         FDU             198
4  Podbeskidzie Bielsko-Biala POD             193
5  Korona Kielce              KKI             192
6  Widzew Lódz                WID             190
7  Widzew Lódz                LOD             190
8  Carpi                      CAP             190
9  FC Nantes                  NAN             189
10 Sassuolo                   SAS             188

Displaying both short and long name of the team for all team related questions

In [28]:
queSix <- top_n(teamTable, 10, maxChanceCreation)
queSix <- arrange(queSix, desc(maxChanceCreation))
queSix <- queSix[1:10,c("team_long_name","team_short_name","maxChanceCreation")]
queSix

   team_long_name      team_short_name maxChanceCreation
1  Lazio               LAZ             220
2  SV Werder Bremen    WBR             216
3  Napoli              NAP             215
4  Bayer 04 Leverkusen LEV             210
5  Burnley             BUR             210
6  Cardiff City        CAR             210
7  Manchester City     MCI             210
8  Aberdeen            ABE             210
9  Rangers             RAN             210
10 Tottenham Hotspur   TOT             210

In [29]:
queSeven <- top_n(teamTable, 10, maxDefense)
queSeven <- arrange(queSeven, desc(maxDefense))
queSeven <- queSeven[1:10,c("team_long_name","team_short_name","maxDefense")]
queSeven

   team_long_name        team_short_name maxDefense
1  Jagiellonia Bialystok BIA             210
2  SC Bastia             BAS             210
3  Zaglebie Lubin        ZAG             210
4  Leicester City        LEI             210
5  Cardiff City          CAR             210
6  1. FC Kaiserslautern  KAI             210
7  Southampton           SOU             210
8  AS Nancy-Lorraine     NAN             210
9  Blackpool             BLA             210
10 Stade Brestois 29     BRE             210

In [30]:
queEight <- top_n(teamTable, 10, maxNumOfGoals)
queEight <- arrange(queEight, desc(maxNumOfGoals))
queEight <- queEight[1:10,c("team_long_name","team_short_name","maxNumOfGoals")]
queEight

   team_long_name    team_short_name maxNumOfGoals
1  FC Barcelona      BAR             849
2  Real Madrid CF    REA             843
3  Celtic            CEL             695
4  FC Bayern Munich  BMU             653
5  PSV               PSV             652
6  Ajax              AJA             647
7  FC Basel          BAS             619
8  Manchester City   MCI             606
9  Chelsea           CHE             583
10 Manchester United MUN             582